{% extends 'base.html' %} 
{% load static  %}
{% block content %} {% load crispy_forms_tags %}

<div style="width: 100%;align-items:center;justify-content:center;margin:0 auto;">
 <img src="{{user.userprofile.profile_image.url}}" class="rounded-circle account-img" alt="profile">  <span>{{request.user}}</span> 

<div class="w-100">
    <form action="" method="post" enctype="multipart/form-data" class="">
        {% csrf_token %} {{ form_user | crispy }}
        {{form_profile | crispy}}
        <button type="submit" class="btn btn-danger mt-2">Update</button>
    </form>
</div>
</div>
{% endblock content %}